body{
    margin: 0;
}


h1 {
    color: #282929;
    font-size: 5.625rem;
    text-align: center;
    font-family: 'Sacramento', cursive;
}

h2{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}
/*===========Class============ #E4F9F5*/

.topDiv {
    background-color:rgb(227, 96, 20) ;
    height: 50rem;
    width: 100%;
}


.topcloud{
    position: relative;
    left: 73%;
    top: 5%;
    width: 19%;

}

.about{
    width: 50%;
    margin: 6rem auto;
}
.name{
   
}
.desc{
   
}

.bottomcloud{
    top:120%;
    position: absolute;
    left: 6%;
    width: 19%;
    
}

.mountain{
    position: relative;
    width: 63%;
    bottom: 16%;
    left: 16%;
}

.middleDiv {
    background-color:rgb(248, 246, 243) ;
    height: 50rem;
    width: 100%;
}

.mypic {
    width:24%;
    position: relative;
    top: 22%;
    left: 35%;
}

.intro{
    width:38%;
    margin: auto;
    position:relative;
    top: 24%;
    font-family: 'Montserrat';
    font-size: large;
    font-weight: 600;
    text-align: center;
}

.youtubediv{
    background-color: rgb(245, 6, 6);
    height: 30rem;
    width: 100%;
}